<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head}"></head>
<body>
    <nav th:replace="~{fragments :: navigation}"></nav>
    <h2 th:text="${title}"></h2>
    <h5 th:unless="${petitions} and ${petitions.size()}">There are no Petitions to view at present, add one or come back later...</h5>
    <ul>
        <li th:each="petition : ${petitions}" th:text="${petition}"></li>
    </ul>
<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>